# Excercici Python, Jupyter i Markdown

In [1]:
print("Code can be included wither within 'Cells' or inside markdown")

Code can be included wither within 'Cells' or inside markdown

## Let's use a bit all markdown options: this is a seconde level header

- [x] Headers
- [x] Emphasis: __bold__ and _italics_
- [x] lists:
 * and sublists
     - using all kind of thing
- [x] Codeblocks
    
The following are `code` block, the first one use R while the second relies on Python. 
### R
```r
x = 5 + 1
x
```

I still prefer rStudio and Rmarkdown than Jupyter. May I still use it including Python code there?

### Python
```python
print("This is Python code included within Mardown")

```

***
- [ ] Images: ![wikipediaFeatured](https://upload.wikimedia.org/wikipedia/commons/thumb/b/b9/Atari-2600-Wood-4Sw-Set.jpg/1280px-Atari-2600-Wood-4Sw-Set.jpg)
***
- [ ] [Links](https://en.wikipedia.org/wiki/Link) 

Task list don't work... not so sure why. 

- [x] task list
- [ ] task list uncomplete

No he fet una taula perque em sembla massa complicat per als beneficis que ens porta.

In [1]:
import pandas as pd

In [5]:
iris = pd.read_csv("https://raw.githubusercontent.com/uiuc-cse/data-fa14/gh-pages/data/iris.csv")

In [8]:
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [24]:
x = 5
y = 2.2
z = x + y 
txt = "Esta es una variable texto dins d'una llista"
bln = x + y > 7
if bln == True:
    print("Has aprovat l'examen")

ls = [txt, x, y, z, bln]
len(ls)

print(ls)

Has aprovat l'examen
["Esta es una variable texto dins d'una llista", 5, 2.2, 7.2, True]